<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan
            base-package="app"/>
    <bean id="kenny"
          class="app.Instrumentalist"
    />

    <bean id="saxophone"
          class="app.Saxophone"/>

    <bean id="audience"
          class="app.Audience"/>

    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut id="performance" expression=
                    "execution(* app.Performer.perform())"/>
            <!-- Определение среза множества точек сопряжения -->

            <aop:before
                    pointcut-ref="performance"
                    method="turnOffCellPhones"/>

            <aop:after-returning pointcut-ref="performance"
                                 method="applaud"/>

            <aop:after-throwing pointcut-ref="performance"
                                method="demandRefund"/>
        </aop:aspect>
    </aop:config>

</beans>